.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border: none;
  box-shadow: none;
  position: absolute;
  padding: 0 !important;

  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 50%;

    .tab {
      color: rgb(23, 23, 136);
      border: 1px solid transparent;
      margin-right: 35px;
      margin-bottom: 5px;
      margin-top: 5px;
      font-weight: 600;
      padding: 7px 9px;
      text-decoration: none;

      &:hover,
      &.active {
        color: rgb(228, 63, 63);
        border: 1px solid rgb(228, 63, 63);
      }
    }
  }

  .logo {
    position: relative;
    width: 470px;
    height: auto;
    margin-right: -25px;
    background-color: #ffffff;
    left: 0;
    transition: transform 0.3s ease-in-out;

    &.menu-open {
      transform: scale(0.8);
    }
  }

  .blue-shape {
    width: 50px;
    position: relative;
  }

  @media (max-width: 767px) {
    .logo {
      height: 60px;
      width: 170px;
      margin-right: 10px;
      background-color: #ffffff;
    }
    .tab {
      text-decoration: none !important;
    }
    .nav-links {
      flex-direction: column;
      align-items: flex-end;
    }

    .menu-icon {
      color: rgb(23, 23, 136);
      transition: transform 0.3s ease-in-out;
      width: 40px;
      height: auto;

      &.menu-open {
        transform: rotate(45deg);
      }
    }
  }
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
}
