.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  position: absolute;
  padding: 15px 0 !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 800px;

    .tab {
      color: rgb(23, 23, 136);
      border: 1px solid transparent;
      margin-right: 35px;
      margin-bottom: 5px;
      margin-top: 5px;
      font-weight: 600;
      padding: 7px 9px;
      text-decoration: none;
      font-size: 18px;

      &:hover {
        animation: pulse 2s infinite;
        transition: 0.3s;
      }

      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        70% {
          transform: scale(0.9);
        }
        100% {
          transform: scale(1);
        }
      }

      &:hover,
      &.active {
        color: rgb(228, 63, 63);
        border: 1px solid rgb(228, 63, 63);
      }
    }
  }

  .logo {
    position: relative;
    width: 470px;
    height: auto;
    margin-right: -25px;
    background-color: #ffffff;
    left: 0;
    transition: transform 0.3s ease-in-out;

    &.menu-open {
      transform: scale(0.8);
    }
  }

  .blue-shape {
    width: 50px;
    position: relative;
  }

  @media (max-width: 767px) {
    .logo {
      height: 60px;
      width: 170px;
      margin-right: 10px;
      background-color: #ffffff;
    }
    .tab {
      text-decoration: none !important;
    }
    .nav-links {
      flex-direction: column;
      align-items: flex-end;
    }

    .menu-icon {
      color: rgb(23, 23, 136);
      transition: transform 0.3s ease-in-out;
      width: 40px;
      height: auto;

      &.menu-open {
        transform: rotate(45deg);
      }
    }
  }
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
}
