.sidebar {
  width: 20%;
  height: 100vh;
  background-color: grey;
  position: fixed;
  left: 0;
  z-index: 999;
  transition: transform 0.3s ease-in-out;

  &.open {
    transform: translateX(-50%);
  }

  .flap {
    width: 40px;
    height: 100px;
    background-color: rgb(23, 23, 136);
    position: absolute;
    right: -15px;
    top: 40%;
    transform: translateY(-40%);
    border-radius: 60px;

    @media (min-width: 481px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    width: 50%;
    transform: translateX(-100%);
  }

  @media (max-width: 480px) {
    width: 100%;
    transform: translateX(-100%);
  }
}
