.blue-button {
  background-color: rgb(23, 23, 136);
  color: white;
  padding: 8px 8px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: normal !important;
  cursor: pointer;
  transition: transform 0.2s ease;
  min-width: 200px;

  &:hover {
    animation: pulse 1s infinite;
    transition: 0.1s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
