.blue-button {
  background-color: rgb(23, 23, 136);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: normal !important;
  cursor: pointer;
  margin-top: 20px;
  transition: transform 0.2s ease;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transform: scale(0.9);
  }
}
