* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  font-family: "Arial Narrow", Arial, sans-serif;
  line-height: normal;
  max-width: 2400px;
}

html,
body {
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-content {
  display: flex;
}

@mixin pageBase {
  width: 80%;
  padding: 10px 30px;
  display: flex;
}

@mixin pageContent {
  display: flex;
  padding-bottom: 40px;

  .page-content {
    gap: 60px;
    padding-right: 40px;
  }
  h1 {
    font-size: 30px;
    font-weight: 800;
    color: rgb(23, 23, 136);
    margin: 30px 0 20px 0;
    text-align: left;
  }
  h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: -10px;
  }
  h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
  }
  img {
    margin: 25px 0;
  }
  .column-one {
    flex-basis: 50%;
    padding: 0 30px 0 0;
  }
  .column-two {
    flex-basis: 50%;
    padding: 0 30px 0 20px;
  }
  p {
    text-align: left;
  }
  .links {
    text-underline-offset: 3px;
    color: black;
  }
}

.page-content {
  @include pageContent;
}
