.languages-menu {
  display: flex;
  gap: 10px;
  border: 2px solid rgb(23, 23, 136);
  width: fit-content;
  padding: 5px 5px 3px 5px;

  .flag {
    width: 40px;
    height: 24px;
    border: 1px solid transparent;
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(0.9);
    }
    &.active {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    }
  }

  .flag-button {
    border: none;
    padding: 0;
  }
}
